{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}
{% block js %} 
<script defer src="{% static 'js/datas.js' %}"></script>
<script defer src="{% static 'js/data.js' %}"></script>
<script defer src="{% static 'js/cpf.js' %}"></script>
<script defer src="{% static 'js/telefone.js' %}"></script>


{% endblock %}
{% block title %}Atualizar Perfil{% endblock %}


{% block conteudo %}

<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            <li class="breadcrumb-item p-2">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i><span class="m-2"></span>
                    Página Inicial
                </a>
            </li>
            <li class="breadcrumb-item p-2">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'perfil' %}">Meu Perfil</a>
            </li>
            <li class="breadcrumb-item p-2 active" aria-current="page">
                Atualizar Perfil
            </li>
        </ol>
    </nav>
</div>


<div class="container mt-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-custom" type="submit">Atualizar</button>
    </form>
</div>


{% endblock %}