{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %}  {% endblock %}
{% block js %}  {% endblock %}
{% block title %}Lista de Casas{% endblock %}


{% block conteudo %}


<div class="container my-3">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
          <li class="breadcrumb-item p-2">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">
                  <i class="fa-solid fa-house"></i><span class="m-2"></span>
                  Página Inicial
              </a>
          </li>
          <li class="breadcrumb-item p-2 active" aria-current="page">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'casas' %}">Lista de Casas</a>
          </li>
      </ol>
  </nav>
</div>

<div class="container mt-3">


  <h2>Lista de Casas</h2>
  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Rua</th>
          <th scope="col">Bairro</th>
          <th scope="col">Número</th>
          <th scope="col">Titular</th>
          <th scope="col">Detalhar</th>
          <th scope="col">Atualizar</th>
          <th scope="col">Deletar</th>
          <th scope="col">Registro</th>
        </tr>
      </thead>
      <tbody>
        {% for casa in casas %}
        <tr>
          <td>{{casa.rua}}</td>
          <td>{{casa.bairro}}</td>
          <td>{{casa.numero}}</td>
          <td>{{casa.titular}}</td>
          <td><a href="{% url 'detalhar-casa' pk=casa.pk %}" class="btn btn-success rounded-5 btn-sm"><i
                class="fa-regular fa-eye"></i></a></td>
          <td><a href="{% url 'atualizar-casa' pk=casa.pk %}" class="btn btn-primary rounded-5 btn-sm"><i
                class="fa-solid fa-rotate"></i></a></td>
          <td><a href="{% url 'apagar-casa' pk=casa.pk %}" class="btn btn-danger rounded-5 btn-sm"><i
                class="fa-solid fa-trash-can"></i></a></td>
          <td><a href="{% url 'historico' casa_id=casa.pk %}" class="btn btn-info rounded-5 btn-sm"><i
                class="fa-regular fa-file-lines"></i></a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  </main>
</div>
</div>
</div>


{% endblock %}