{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %} {% endblock %}
{% block js %} 
<script defer src="{% static 'js/data.js' %}"></script>
{% endblock %}
{% block title %}Novo Registro{% endblock %}


{% block conteudo %}

<div class="container mt-3">
    <h2>Criar Novo Registro</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}   
        
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
</div>



{% endblock %}