{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %} {% endblock %}
{% block js %}
<script defer src="{% static 'js/fundo.js' %}"></script>
{% endblock %}
{% block title %}Cadastro{% endblock %}


{% block conteudo %}


<div class="container mb-3 mt-3 p-5 rounded bg-secondary-subtle">
    <h2>Inscrever-se</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-custom" type="submit">Cadastrar</button>
    </form>
</div>


{% endblock %}


