.seta-branca::after {
    border-top-color: white;
}

.btn-custom {
    background-color: #fff000; 

}

.btn-custom:hover {
    background-color: #f8f9fa; 
    color: black;
    border-color: black;

}

.logo:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

