{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %} {% endblock %}
{% block js %} {% endblock %}
{% block title %}Registros{% endblock %}


{% block conteudo %}


<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            <li class="breadcrumb-item p-2">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i><span class="m-2"></span>
                    Página Inicial
                </a>
            </li>
            <li class="breadcrumb-item p-2">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'casas' %}">Lista de
                    Casas</a>
            </li>
            <li class="breadcrumb-item p-2 active" aria-current="page">
                Histórico da Casa
            </li>
        </ol>
    </nav>
</div>

<div class="container">
    <h2>Detalhes do Registro</h2>
    <hr>
    <h3>Informações da Casa</h3>
    <p><strong>Rua:</strong> {{ casa.rua }}</p>
    <p><strong>Bairro:</strong> {{ casa.bairro }}</p>
    <p><strong>Número:</strong> {{ casa.numero }}</p>
    <p><strong>Titular:</strong> {{ casa.titular }}</p>
    <p><strong>Contrato com Distribuidora:</strong> {{ casa.contrato }}</p>

    <h3>Registros de Consumo e Injeção de Energia Elétrica</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data</th>
                <th>Consumo</th>
                <th>Injeção</th>
                <th>Autor do Registro</th>
                <th>Oficial</th>
                <th>Atualizar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% if registros %}
            {% for registro in registros %}
            {% if registro.oficial == False %}

            <tr>
                <th>{{registro.data}}</th>
                <td>{{registro.consumo}} KWh</td>
                <td>{{registro.injecao}} KWh</td>
                <td>{{registro.autor}}</td>
                <td><a href="{% url 'detalhar-registro' pk=registro.pk %}" class="btn btn-success rounded-5 btn-sm"><i
                            class="fa-regular fa-eye"></i></a></td>
                <td><a href="{% url 'atualizar-registro' pk=registro.pk %}" class="btn btn-primary rounded-5 btn-sm"><i
                            class="fa-solid fa-rotate"></i></a></td>
                <td><a href="{% url 'apagar-registro' pk=registro.pk %}" class="btn btn-danger rounded-5 btn-sm"><i
                            class="fa-solid fa-trash-can"></i></a></td>
            </tr>


            {% else %}
            <tr class="table-info">
                <th>{{registro.data}}</th>
                <td>{{registro.consumo}} KWh</td>
                <td>{{registro.injecao}} KWh</td>
                <td>{{registro.autor}}</td>
                <td><a href="{% url 'detalhar-registro' pk=registro.pk %}" class="btn btn-success rounded-5 btn-sm"><i
                            class="fa-regular fa-eye"></i></a></td>
                <td><a href="{% url 'atualizar-registro' pk=registro.pk %}" class="btn btn-primary rounded-5 btn-sm"><i
                            class="fa-solid fa-rotate"></i></a></td>
                <td><a href="{% url 'apagar-registro' pk=registro.pk %}" class="btn btn-danger rounded-5 btn-sm"><i
                            class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    {% if registros.has_other_pages %}
    <div class="pagination">
        {% if registros.has_previous %}
        <a href="?page=1">&laquo; Primeira</a>
        <a href="?page={{ registros.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">Página {{ registros.number }} de {{ registros.paginator.num_pages }}</span>

        {% if registros.has_next %}
        <a href="?page={{ registros.next_page_number }}">Próxima</a>
        <a href="?page={{ registros.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
    {% else %}
    <p>Não há registros para exibir.</p>
    {% endif %}
</div>

{% endblock %}