{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %} {% endblock %}
{% block js %}
<script defer src="/static/js/print.js"></script>
{% endblock %}
{% block title %}Registros{% endblock %}


{% block conteudo %}


<div class="no-print container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            <li class="breadcrumb-item p-2">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i><span class="m-2"></span>
                    Página Inicial
                </a>
            </li>
            <li class="breadcrumb-item p-2">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'casas' %}">Lista de
                    Casas</a>
            </li>
            <li class="breadcrumb-item p-2 active" aria-current="page">
                Histórico da Casa
            </li>
        </ol>
    </nav>
</div>

<div class="container">
    
    <h2>Detalhes do Registro</h2>
    <button class="btn btn-primary rounded-circle p-2 lh-1" id="btnPrint"><i class="fa-solid fa-print"></i></button>
    <hr>
    <h3>Informações da Casa</h3>
    <p><strong>Rua:</strong> {{ casa.rua }}</p>
    <p><strong>Bairro:</strong> {{ casa.bairro }}</p>
    <p><strong>Número:</strong> {{ casa.numero }}</p>
    <p><strong>Proprietário:</strong> {{ casa.proprietario }}</p>
    <p><strong>Contrato com Distribuidora:</strong> {{ casa.contrato }}</p>

    <h3>Registros de Consumo e Injeção de Energia Elétrica</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Consumo</th>
                <th>Injeção</th>
                <!-- <th>Saldo</th> -->
                <th>Autor do Registro</th>
                <th class="no-print">Detalhar</th>
                <th class="no-print">Atualizar</th>
                <th class="no-print">Deletar</th>
            </tr>
        </thead>
        <tbody>            
            {% for registro in page_obj %}
            {% if registro.oficial == False %}

            <tr>
                <th>{{registro.data}}</th>
                <td>{{registro.consumo}} KWh</td>
                <td>{{registro.injecao}} KWh</td>
                <!-- <td>{{registro.saldo_parcial}} KWh</td> -->
                <td>{{registro.autor}}</td>
                <td><a href="{% url 'detalhar-registro' pk=registro.pk %}" class="no-print btn btn-success rounded-5 btn-sm"><i
                            class="fa-regular fa-eye"></i></a></td>
                <td><a href="{% url 'atualizar-registro' pk=registro.pk %}" class="no-print btn btn-primary rounded-5 btn-sm"><i
                            class="fa-solid fa-rotate"></i></a></td>
                <td><a href="{% url 'apagar-registro' pk=registro.pk %}" class="no-print btn btn-danger rounded-5 btn-sm"><i
                            class="fa-solid fa-trash-can"></i></a></td>
            </tr>


            {% else %}
            <tr class="table-info">
                <th>{{registro.data}}</th>
                <td>{{registro.consumo}} KWh</td>
                <td>{{registro.injecao}} KWh</td>
                <!-- <td>{{registro.saldo_parcial}} KWh</td> -->
                <td>{{registro.autor}}</td>
                <td><a href="{% url 'detalhar-registro' pk=registro.pk %}" class="no-print btn btn-success rounded-5 btn-sm"><i
                            class="fa-regular fa-eye"></i></a></td>
                <td><a href="{% url 'atualizar-registro' pk=registro.pk %}" class="no-print btn btn-primary rounded-5 btn-sm"><i
                            class="fa-solid fa-rotate"></i></a></td>
                <td><a href="{% url 'apagar-registro' pk=registro.pk %}" class="no-print btn btn-danger rounded-5 btn-sm"><i
                            class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="no-print container">
    {% bootstrap_pagination page_obj %}
</div>

{% endblock %}