{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %}  
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block js %}  {% endblock %}
{% block title %}Energia{% endblock %}


{% block conteudo %}

<div class="container mt-3">
    <div class="p-5 destaque rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-white">Acompanhe o Painel Administrativo</h1>
            <p class="col-md-8 fs-4 text-white">Confira número brevemente compilados acerca da produção de energia elétrica solar injetada e consumo do seu domicílio a partir dos registros enviados pelo seu usuário nos últimos dias.</p>
            <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
            {% for casa in casas %}
            <a class="btn btn-custom btn-lg" href="{% url 'painel' casa_id=casa.pk %}">Casa {{casa.numero}}</a>
            {% endfor %}
        </div>
    </div>
<div class="row align-items-md-stretch mt-3">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Adicione seus registros</h2>
            <p>Cadastre agora os registros detalhados de consumo e injeção de energia elétrica provenientes de sua residência, assegurando o controle e a gestão eficiente de seus dados energéticos.</p>
            <!-- <button class="btn btn-outline-light" type="button">Registrar dados</button> -->
            <a class="btn btn-outline-light" href="{% url 'cadastrar-registro' %}">Registrar dados</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Registre seu imóvel</h2>
            <p>Tenha total controle sobre o consumo e a produção de energia elétrica em sua residência. Registre seus imóveis e forneça informações sobre suas produções e consumos energéticos.</p>
            <a class="btn btn-outline-secondary" href="{% url 'cadastrar-casa' %}">Inscrever</a>
            <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
            
        </div>
    </div>
</div>

</div>


<!-- 
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Ferramentas Inovadoras</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div
                class="rounded feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient p-2 fs-4 mb-3">

                <i class="fa-solid fa-house-circle-check"></i>

            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action

            </a>
        </div>
        <div class="feature col">
            <div
                class="rounded feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient p-2 fs-4 mb-3">
                <i class="fa-solid fa-bolt"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action

            </a>
        </div>
        <div class="feature col">
            <div
                class=" rounded feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient p-2 fs-4 mb-3">
                <i class="fa-regular fa-lightbulb"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action

            </a>
        </div>
    </div>
</div> -->

{% endblock %}