{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="/static/css/painel.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
{% endblock %}
{% block js %}

<script defer src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script defer src="/static/js/painel.js"></script>
{% endblock %}
{% block title %}Energia{% endblock %}




{% block conteudo %}

<div class="container my-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
        <li class="breadcrumb-item p-2">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">
            <i class="fa-solid fa-house"></i><span class="m-2"></span>
            Página Inicial
          </a>
        </li>
        <li class="breadcrumb-item p-2 active" aria-current="page">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'casas' %}">Lista de Casas</a>
        </li>
      </ol>
    </nav>
  </div>

<div class="container">

    <div class="container">
        <div class="row">
            <br />
            <div class="col text-center">
                <h2>Painel de Informações Gerais</h2>
                <p>Contabilidade de Produção e Consumo de Energia da casa {{casa.numero}} a partir dos Registros Alimentados durante {{dias}}
                    dias.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-solid fa-solar-panel fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{diferenca_injecao}}" data-speed="1500"></h2>
                    <p class="count-text ">Produção desde a última Conta de Luz</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">

                    <i class="fa fa-solid fa-plug fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{diferenca_consumo}}" data-speed="1500"></h2>
                    <p class="count-text ">Consumo desde a última Conta de Luz</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">

                    <i class="fa fa-solid fa-battery-three-quarters fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{saldo}}" data-speed="1500"></h2>
                    <p class="count-text ">Saldo acumulado desde a última Conta</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">

                    <i class="fa-solid fa-bolt fa fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{diferenca_ate_prod_max}}" data-speed="1500">
                    </h2>
                    <p class="count-text ">Falta quanto até a produção máxima</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">

        <div class="row text-center">
            <div class="col">
                <div class="counter">

                    <i class="fa-regular fa-sun fa fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{media_producao_diaria}}" data-speed="1500">
                    </h2>
                    <p class="count-text ">Média de Produção Diária</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa-solid fa-plug-circle-bolt fa fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{media_consumo_diario}}" data-speed="1500">
                    </h2>
                    <p class="count-text ">Média de Consumo Diário</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">

                    <i class="fa-solid fa-car-battery fa fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{total}}" data-speed="1500"></h2>
                    <p class="count-text ">Total de Energia Contabilizada</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa-brands fa-searchengin fa fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="{{prod_maxima}}" data-speed="1500"></h2>
                    <p class="count-text ">Capacidade de Produção Máxima</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}