{% extends 'base.html' %}
{% load static bootstrap5 %}

{% block css %} 
<link rel="stylesheet" href="/static/css/base.css">
{% endblock %}
{% block js %} 

{% endblock %}
{% block title %}Meu Perfil{% endblock %}


{% block conteudo %}

<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            <li class="breadcrumb-item p-2">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i><span class="m-2"></span>
                    Página Inicial
                </a>
            </li>
            <li class="breadcrumb-item p-2 active" aria-current="page">
                Meu Perfil
            </li>
        </ol>
    </nav>
</div>


<div class="d-flex container justify-content-center">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                {% if user.usuario.foto %}
                <img src="{{ user.usuario.foto.url }}" class="img-fluid rounded-start" alt="...">
                {% else %}
                <img src="/static/img/user.png" class="img-fluid rounded-start" alt="...">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{user.usuario.nome}}</h5>
                    <p class="card-text">Data de Nascimento: {{user.usuario.data_nasc}}<br>{% if user.usuario.data_nasc %}Idade:
                        {{user.usuario.idade}}{% else %}Idade: --{% endif %}<br>E-mail: {{user.email}} <br>Telefone: {{user.usuario.telefone}}
                        <br>CPF: {{user.usuario.cpf}}<br></p>
                        <a href="{% url 'atualizar-usuario' pk=user.usuario.id %}" class="btn btn-custom rounded-5 btn-sm"><i class="fa-solid fa-pencil"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Casa Nº {{user.usuario.nome}}</h5>
                <p class="card-text">Rua: {{casa.rua}}</p>
                <p class="card-text">Bairro: {{casa.bairro}}</p>
                <p class="card-text">Proprietário: {{casa.proprietario}} </p>
                <p class="card-text">CEP: {{casa.cep}} </p>
                <p class="card-text">Contrato Nº: {{casa.contrato}}</p> 
                <p class="card-text"><small class="text-body-secondary"></small></p>
                <a href="#" class="btn btn-primary rounded-5 btn-sm"><i class="fa-solid fa-rotate"></i></a>
                <a href="#" class="btn btn-danger rounded-5 btn-sm"><i class="fa-solid fa-trash-can"></i></a>
                <a href="#" class="btn btn-info rounded-5 btn-sm"><i class="fa-regular fa-file-lines"></i></a>
            </div>
        </div>
    </div> -->
</div>



{% endblock %}